<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Задачник</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>

<body>
    <div style="python -m venv venvmargin-top: 50px;" class="ui container">
        <h1 class="ui center aligned header">Задачник</h1>

            <form class="ui form" action="/add" method="post" id="addTodoForm">
                <div class="field">
                    <label>Задачник</label>
                    <input type="text" name="title" id="todoTitle" placeholder="Введите задачу...">
                    <span id="titleError" style="color: red; font-weight: bold;"></span>
                </div>
                <button class="ui blue button" type="submit">Добавить</button>
            </form>

        <hr>

        {% for todo in todo_list %}
        <div class="ui segment">
            <p class="ui big header">{{todo.id }} | {{ todo.title }}</p>

            {% if todo.complete == False %}
            <span class="ui gray label">Not Complete</span>
            {% else %}
            <span class="ui green label">Completed</span>
            {% endif %}

            <a class="ui blue button" href="/update/{{ todo.id }}">Update</a>
            <a class="ui red button" href="/delete/{{ todo.id }}">Delete</a>
        </div>
        {% endfor %}
    </div>


    <script>
    //Вот тут добавлена валидация
    document.getElementById('addTodoForm').addEventListener('submit', function(e) {
        e.preventDefault();

        const titleInput = document.getElementById('todoTitle');
        const titleValue = titleInput.value.trim();
        const errorSpan = document.getElementById('titleError');

        errorSpan.textContent = '';

        if (titleValue.length === 0) {
            errorSpan.textContent = 'Ошибка: Поле не может быть пустым.';
            titleInput.focus();
            return;
        }

        if (titleValue.length < 3) {
            errorSpan.textContent = 'Ошибка: Задача должна содержать минимум 3 символа.';
            titleInput.focus();
            return;
        }

        if (titleValue.length > 100) {
            errorSpan.textContent = 'Ошибка: Задача не может быть длиннее 100 символов.';
            titleInput.focus();
            return;
        }

        this.submit();
    });
    </script>
</body>

</html>